{% extends "base.html" %}
{% block content %}
<h1>タスク管理</h1>

<div>
    <h3>現在の総合スコア</h3>
    <h2 style="margin: 0;">ランク: {{ current_rank }}</h2>
    <p>(スコア: {{ current_score }})</p>
</div>
<hr>

<h2>タスク新規追加</h2> <form method="POST">
    <label for="title">タスク</label>
    <input type="text" name="title">
    
    <label for="due_date">期限</label>
    <input type="date" name="due_date">
    <label for="priority">重要度</label>
    <input type="number" name="priority" value="3">
    <input type="submit" value="新規">
</form>

<hr>
<h2>一覧</h2>
<div class="task-list">
    {% for task in tasks %}
    <div class="task-item">
        
        <form action="{{ url_for('task_edit', task_id=task.id) }}" method="POST" class="update-form">
            
            <div>
                <strong>{{ task.title }}</strong> 
            </div>
            
            <div class="form-row">
                <div>
                    <label>期限:</label>
                    <input type="date" name="due_date" value="{{ task.due_date.isoformat() if task.due_date }}">
                </div>
                <div>
                    <label>重要度:</label>
                    <input type="number" name="priority" value="{{ task.priority }}">
                </div>
                <div>
                    <label>進捗:</label>
                    <input type="number" name="progress" value="{{ task.progress }}" min="0" max="100">
                </div>
            </div>
            
            <div>
                <button type="submit">更新</button>
            </div>
        </form> <form action="{{ url_for('task_delete', task_id=task.id) }}" method="POST" class="delete-form">
            <button type="submit">削除</button>
        </form>
            
    </div> {% endfor %}
</div> {% endblock%}