{% extends "base.html" %}
{% block content %}
<h1>タスクの編集</h1>

<form method="POST">
    <p>
        <label for="title">タスク</label><br>
        <input type="text" name="title" id="title" value="{{ task.title }}">
    </p>

    <p>
        <label for="is_completed">完了</label>
        <input type="checkbox" name="is_completed" id="is_completed" value="true" {% if task.is_completed %}checked{% endif %}>
    </p>

    <p>
        <label for="due_date">期限</label><br>
        <input type="date" name="due_date" id="due_date" value="{{ task.due_date.isoformat() if task.due_date }}">
    </p>

    <p>
        <label for="priority">重要度 </label><br>
        <input type="number" name="priority" id="priority" value="{{ task.priority }}">
    </p>

    <p>
        <label for="progress">進捗 (%)</label><br>
        <input type="number" name="progress" id="progress" min="0" max="100" value="{{ task.progress }}">
    </p>

    <p>
        <button type="submit">更新する</button>
        <a href="{{ url_for('task') }}">キャンセル</a>
    </p>
</form>
{% endblock%}